/* Desktop screens and up */
@media (min-width: 767px) {
    body {
      font-size: 20px;
      /* max-width: 900px; */
      margin: auto;
    }
    .banner {
      height: 700px;
      width: 100%;
    }

    .container {
        min-width: 1024px; /* common for small phones */
        margin: 0 auto;
    }

    /* turn-off mobile nav */
    .mobile-nav {
      display: none;
    }
    /* desktop nav */
    .desktop-nav-container {
      position: relative;
    }

    .desktop-nav {
      position: absolute;
      top: 40px;
      z-index: 1000;
      color: white;
      font-size: 16px;
      text-transform: capitalize;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .desktop-nav-items {
      letter-spacing: 0.5px;
      font-weight: 400;
      display: flex;
      justify-content: end;
    }

    .desktop-nav-items li {
      margin-left: 35px;
      margin-bottom: 35px;
    }

    .desktop-nav-items li a {
      color: white;
      border: 1px solid white;
    }


    /* banner */
    .hero h1 {
      font-size: 56px;
    }
    .hero p {
      font-size: 24px;
      font-weight: 400;
    }
    .services-block {
      display: none;
    }
    /* services */
    .section-title h1 {
      font-size: 40px;
      margin-top: 60px;
    }
    .desktop-services {
      display: flex;
      justify-content: center;
    }
    .desktop-service {
      background-color: #F9F9FB;
      width: 280px;
      padding: 10px;
      text-align: center;
      border-radius: 25px;
      box-shadow: 5px 5px 5px rgba(147, 147, 147, 0.5);
      height: 300px;
      margin: 40px 60px;
    }
    .desktop-service h4 {
      font-family: 'outfit';
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      color: #D97E2E;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .desktop-service button {
      font-family: 'outfit';
      padding: 10px 40px;
      text-transform: uppercase;
      font-weight: 500;
      background-color: #D97E2E;
      border-radius: 50px;
      border: 0;
      color: white;
      letter-spacing: 2px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }

    .steps {
      display: flex;
    }

    .step {
      margin-left: 40px;
      margin-right: 40px;
    }

    /* 3d section */
    .three-d-1 {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    .three-d-special {
      /* for the pay instantly layout */
      margin-left: 100px;
      margin-right: 100px;
    }

    .three-d-text div h3 {
      font-size: 18px;
    }
    .three-d-text div h2 {
      margin-top: 32px;
      font-size: 32px;
    }

    .three-d-text div p {
      font-size: 16px;
      line-height: 24px;
    }
    .three-d-text div button {
      font-size: 16px;
      padding: 15px 40px;
      margin-top: 45px;
      letter-spacing: 2px;
    }
    .three-d-img-1 {
      width: 30%;
    }

    /* deksotp - testimonial */
    .dots {
      display: none;
    }
    .testimonials .section-title h1 {
      font-size: 32px;
      line-height: 36px;
    }
    .testimonials .testimony-img {
      width: 400px;
    }
    .testimonies {
      width: fit-content;
      display: flex;
      justify-content: center;
    }

    /* 3d - 2 */
    .quick-service div h4 {
      margin-top: 15px;
      font-size: 18px;
    }
    .quick-service div h2 {
      font-size: 32px;
    }
    .quick-service p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .quick-service div button {
      font-size: 16px;
      padding: 15px 60px;
      border-radius: 50px;
    }

    /* newsletter */
    .newsletter-title h2 {
      margin-top: 35px;
      font-size: 32px;
      margin-bottom: 25px;
    }
    .news-letter-info {
      text-align: center;
      font-size: 16px;
      margin-bottom: 42px;
    }
    .subscribe {
      margin-bottom: 45px;
    }
    .subscribe form input {
      line-height: 24px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
      width: 100px;
    }
    input::placeholder {
      font-size: 16px;
    }
    .sub-btn {
      font-size: 16px;
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 50px;
    }

    /* footer */
    .footer-sections {
      width: 900px;
      margin: 40px auto 20px;
    }
    .footer-section h4{
      font-size: 20px;
      margin-bottom: 30px;
    }
    .footer-section ul li {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 8px;
    }

    .footer-section span {
      color: #D97E2E
    };
    .copyright {
      font-size: 14px;
    }
}