/* Desktop screens and up */
@media (min-width: 1024px) {
    body {
      font-size: 20px;
      /* max-width: 900px; */
      margin: auto;
    }
    .banner {
      height: 700px;
      width: 100%;
    }

    .container {
        min-width: 1024px; /* common for small phones */
        margin: 0 auto;
    }

    /* turn-off mobile nav */
    .mobile-nav {
      display: none;
    }
    /* desktop nav */
    .desktop-nav-container {
      position: relative;
    }

    .desktop-nav {
      position: absolute;
      top: 40px;
      z-index: 1000;
      color: white;
      font-size: 16px;
      text-transform: capitalize;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .desktop-nav-items {
      letter-spacing: 0.5px;
      font-weight: 400;
      display: flex;
      justify-content: end;
    }

    .desktop-nav-items li {
      margin-left: 35px;
      margin-bottom: 35px;
    }

    .desktop-nav-items li a {
      color: white;
      border: 1px solid white;
    }


    /* banner */
    .hero h1 {
      font-size: 80px;
    }
    .hero p {
      font-size: 28px;
    }
    .services-block {
      display: none;
    }
    /* services */
    .section-title h1 {
      font-size: 40px;
      margin-top: 60px;
    }
    .desktop-services {
      display: flex;
      justify-content: center;
    }
    .desktop-service {
      background-color: #F9F9FB;
      width: 280px;
      padding: 10px;
      text-align: center;
      border-radius: 25px;
      box-shadow: 5px 5px 5px rgba(147, 147, 147, 0.5);
      height: 300px;
      margin: 40px 60px;
    }
    .desktop-service h4 {
      font-family: 'outfit';
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      color: #D97E2E;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .desktop-service button {
      font-family: 'outfit';
      padding: 10px 40px;
      text-transform: uppercase;
      font-weight: 500;
      background-color: #D97E2E;
      border-radius: 25px;
      border: 0;
      color: white;
      letter-spacing: 2px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }

    .steps {
      display: flex;
    }

    .step {
      margin-left: 40px;
      margin-right: 40px;
    }

    /* 3d section */
    .three-d-1 {
      margin-top: 100px;
    }
    .three-d-text div h3 {
      font-size: 18px;
    }
    .three-d-text div h2 {
      margin-top: 32px;
      font-size: 32px;
    }

    .three-d-text div p {
      font-size: 16px;
    }
    .three-d-text div button {
      font-size: 16px;
      padding: 15px 40px;
      margin-top: 45px;
      letter-spacing: 2px;
    }
    .three-d-img-1 {
      width: 30%;
    }

}