/* all */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E5E5E5;
    font-size: 16px;
}

.container {
    max-width: 480px; /* common for small phones */
    margin: 0 auto;
}

h1, h2, h3, h4, h4, h6 {
    font-family: 'inter';
}

p, li, a{
    font-family: 'roboto';
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/* all */

/* mobile - header */
.mobile-nav {
    background-color: #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo {
    font-weight: bold;
    font-family: 'outfit';
    letter-spacing: 0.5px;
    margin-left: 12px;
}
.mobile-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav ul a {
    color: black;
}

.log-in {
    border: 1px solid black;
    padding: 4px 10px;
}
.log-in, .nav-buttons img {
    margin-right: 10px;
}

.nav-buttons {
    display: flex;
    align-items: center;
}

/* banner */
.banner {
    position: relative; /* Needed for absolute overlay */
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center text horizontally */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make it full width */
    height: 100%; /* Match .hero height */
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}
.hero-sect {
    z-index: 1000;
    width: 100%;
    text-align: left;
    margin-left: 20px;
}
.hero h1,
.hero p {
    font-family: 'Outfit';
    color: white;
    width: 100%;
    padding-bottom: 10px;
}
.hero h1 {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}
.hero p {
    letter-spacing: 0.4px;
    font-size: 14px;
    font-weight: 200;
}
.hero span {
    color: #F28C38;
}

/* services */
.our-services h1 {
    font-size: 20px;
    text-align: center;
    color: #504E4E;
    margin-top: 20px;
}
.underline {
    border-bottom: 2px solid #C9732C;
    margin: 10px auto;
    width: 30px;
}
.our-services span {
    color: #C9732C;
}

.service {
    background: linear-gradient(to right, #F9F9FB 0%, #BEBEBE 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 340px;
    height: 70px;
    margin: 25px auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service h4 {
    font-family: 'outfit';
    text-transform: uppercase;
    font-size: 12px;
    color: #D97E2E;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}
.service h5 {
    font-family: 'outfit';
    font-weight: 400;
    letter-spacing: 0.7px;
    font-size: 12px;
}
/* shaping taxx icon */
.service .four .svc-img{
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.svc-img {
    margin-left: 15px;
}

.svc-btn button{
    background-color: #D97E2E;
    padding: 10px 20px;
    border: 0;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    font-family: 'outfit';
    font-weight: 600;
    line-height: 10px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    margin-right: 15px;
}
/* end services */

/* how-it-works */
.how-it-works .section-title h1 {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    color: #504E4E;

}
.how-it-works span {
    color:#C9732C
}
.steps{
    padding: 20px;
    margin: 0px auto;
}
.steps h4 {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'poppins';
    margin-bottom: 2px;
}
.steps p {
    font-size: small;
    color: #686868;
    font-family: 'poppins';
}
.step {
    display: flex;
    margin: 20px auto;
    align-items: center;
}
.step-content {
    margin-left: 20px;
}
.steps-box {
    margin-top: 25px;
    background-color: #D9D9D9;
    display: flex;
}
/* end how-it-works */

/* logos */
.logos-section ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
/* endlogos */

/* 3d-1 */
.three-d-content {
    display: flex;
    padding: 80px 20px;
    align-items: center;
}
.three-d-text h3{
    font-size: 12px;
    text-transform: uppercase;
    color: #6E6965;
    letter-spacing: 1.5px;
    font-family: 'poppins';
    margin-bottom: 10px;
    font-weight: 500;
}
.three-d-text {
    width: 65%;
}
.three-d-img-1 {
    width: 45%;
}
.three-d-text h2 {
    font-size: 18px;
    color: #504E4E;
    font-family: 'Outfit';
    margin-bottom: 14px;

}
.three-d-text span {
    color: #C9732C;
}
.three-d-text p {
    font-size: 12px;
    font-family: 'roboto';
    font-weight: 300;
    letter-spacing: 0.1px;
    line-height: 18px;
    color: #555454;
}
.three-d-text button {
    padding: 10px 15px;
    font-size: 11px;
    border-radius: 50px;
    border: 0;
    color: white;
    background-color: #C9732C;
    text-transform: uppercase;
    font-family: 'outfit';
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 20px;
}
/* to be changed later */
.three-d-img-1 img{
    width: 100%;
}
/* end 3d-1 */

/* testimonials */
.testimonials {
    background-color: #D9D9D9;
}
.testimony-section {
    padding: 10px;
}
.testimony-img {
    text-align: center;
}
.testimony-img img {
    width: 25%;
}
.testimonials .section-title h1 {
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins';
    color: #474343;
    margin: 25px auto;
    line-height: 20px;
}
.section-title span {
    color: #C9732C;
}
.testimony-content {
    color: white;
    background-color: #343434;
    width: 200px;
    padding: 40px;
    border-radius: 5px;
    margin: 0px auto;
    text-align: center;
}
.testimony-content h4 {
    color: #D97E2E;
    text-transform: uppercase;
    font-family: 'outfit';
    letter-spacing: 1px;
    font-size: 12px;
}
.testimony-content p {
    font-size: 12px;
    font-weight: 200;
    margin: 10px auto;
}
/* hard-coded */
.dots {
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: #242424;
}
/* end-testimonials */


/* 3d-2 */

.three-d-content-2 {
    padding: 20px;
}
.three-d-img-2 {
    width: 50%;
}
.quick-service {
    width: 50%;
}
.three-d-img-2 img {
    width: 100%;
}
.quick-service h4{
    text-transform: uppercase;
    font-family: 'outfit';
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 11px;
    color: #454342;
}
.quick-service h2 {
    text-transform: capitalize;
    font-family: 'outfit';
    margin-top: 20px;
    font-size: 20px;
    color: #575151;
}
.quick-service p {
    font-size: 12px;
    font-family: 'roboto';
    font-weight: 300;
    padding: 20px 0;
    letter-spacing: 0.1px;
    line-height: 18px;
}
.quick-service span {
    color: #C9732C;
}
.quick-service button {
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: 'outfit';
    letter-spacing: 1.5px;
    border: 0;
    background-color: #373838;
    color:#F28C38;
    border-radius: 50px;
    font-size: 10px;
}

/* end 3d-2 */

/* newsletter */
.join-newsletter {
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    background: linear-gradient(to right, #C9732C 50%, #C9732C 100%);
}

.join-newsletter h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'outfit';
    text-transform: capitalize;
    font-weight: 600;
}

.news-letter-info {
    font-size: 12px;
    font-family: 'outfit';
    font-weight: 300;
    margin-bottom: 15px;
    padding: 5px 30px;
}

.subscribe form {
    border: 1.5px solid #E7DAD0;
    width: 70%;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}
.subscribe form input {
    border: 0;
    width: 60%;
    margin-left: 15px;
    font-size: 12px;
    font-family: 'outfit';
    color:white;
    background-color: transparent;
    outline: none;
}
input::placeholder {
    color: #f1f1f1;
    font-size: 12px;
    opacity: 1;
}
.sub-btn {
    background-color: white;
    border: 0;
    padding: 5px 15px;
    border-radius: 50px;
    font-family: 'outfit';
    text-transform: uppercase;
    font-weight: bold;
    color:#C9732C;
    font-size: 12px;
}
/* footer */
.footer-1 {
    padding: 40px;
    background-color: #202020;
    color: #AFA9A9;
}

.footer-1 a {
    color: #AFA9A9;
}
.footer-sections {
    display: flex;
    justify-content: space-between;
}
.footer-section h4 {
    font-size: 14px;
    font-family: 'outfit';
    font-weight: 500;
}
.footer-section ul {
    margin-top: 10px;
    margin-right: 10px;
}
.footer-section ul li {
    font-size: 11px;
    padding: 4px;
    color: #AFA9A9;
    letter-spacing: 0.3px;
    font-weight: 300;
}
.copyright {
    background-color: #242424;
    color: #AFA9A9;
    text-align: center;
    font-size: 12px;
    padding: 12px;
}
/* endfooter */

/* hide desktop-items */
@media (max-width: 767px) {
    .desktop-nav-container,
    .desktop-services,
    .desktop-testimony,
    .desktop-footer-services {
        display: none;
    }
}